# Wildcard ignores.
*.iso
*.img
*.nsi

# File Ignores.
WolfNet-Computing-Boot-Tools.nssp
thumbs.db
LICENSE.txt
LICENSE.rtf

# Directory Ignores.
Installers/
./Plugins/WolfNet-Computing-Modboot/

# Unfinished files. TEMPORARY IGNORES!
MAKE_A_PLUGIN.md