# Wildcard ignores.
*.iso
*.img
*.nsi
*Setup.exe

# File Ignores.
WolfNet-Computing-Boot-Tools.nssp
thumbs.db
LICENSE.txt
LICENSE.rtf
bcd.cfg
bfd.cfg

# Directory Ignores.
Plugins/OS_win311/
Plugins/WolfNet-Computing-NetBoot-Disc